.title-dashboard {
    color: $brown;
    text-align: center;
}

.formulaire {
  color: $brown;
  text-align: left;
  margin-left: 40px;
}

.field {
  text-align: left;
  color: $brown;
  margin-bottom : 50px;
  width : 90%;
  margin-left: 30px;
}

.row-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  text-align: center;
  color: #FFFFFF80;
}

.label {
  text-align: left;
  width: 40%;
  margin-left: 30px;
}


.custom-block {
  border: 2px solid #654321;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  background-color: #FFFFFF80;
  color: #654321;
}

.podium-items {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  justify-content: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 150px;
}

.category-item {
  text-align: center;
}

.category-title {
  text-align: center;
  color: $brown;
  margin-bottom: 10px;
}

.chart-container {
  border: 2px solid #654321;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  background-color: #FFFFFF80;
  margin-bottom: 20px;
}

.chart-title {
  font-family: 'Lily Script One', cursive;
}

.cerise {
  background-image: url(https://res.cloudinary.com/dewccbv1v/image/upload/v1711530606/319px-Bing_Cherries__USDA_ARS_uchywx.jpg);
  height: 160px;
}

.carrot {
  background-image: url(https://res.cloudinary.com/dewccbv1v/image/upload/v1711530608/Carrots_on_Display_ssopir.jpg);
  height: 130px;
}

.apple {
  background-image: url(https://res.cloudinary.com/dewccbv1v/image/upload/v1711530606/pomme_z3kx3n.jpg);
  height: 100px;
}


.broccoli {
  background-image: url(https://res.cloudinary.com/dewccbv1v/image/upload/v1711530585/brocolis_zbjijp.jpg);
  height: 70px;
}
