.title-dashboard {
    color: $brown;
    text-align: center;
}

.formulaire {
  color: $brown;
  text-align: left;
  margin-left: 40px;
}

.field {
  text-align: left;
  color: $brown;
  margin-bottom : 50px;
  width : 90%;
  margin-left: 30px;
}

.row-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  text-align: center;
  color: white;
}

.label {
  text-align: left;
  width: 40%;
  margin-left: 30px;
}


.custom-block {
  border: 2px solid #654321;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  background-color: #ffffff;
}

.podium-items {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: calc(25% - 5px);
  border-radius: 5px;
}

.category-label {
  display: block;
  text-align: center;
  color: $brown;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.chart-container {
  border: 2px solid #654321; /* Couleur marron pour la bordure */
  border-radius: 10px; /* Bordures arrondies */
  padding: 20px; /* Espace à l'intérieur de la bordure */
  margin-left: 20px; /* Espace à gauche */
  background-color: #ffffff; /* Fond blanc */
}


.cerise {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/cerise.jpg);
}

.carrot {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/carrot.jpg);
}

.apple {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/apple.jpg);
}

.broccoli {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/broccoli.jpg);
}
