// Specific CSS for your home-page
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    text-align: center;
    color: white;
}

.containercarte  {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 20px;
    text-align: center;
    color: black;
}

.imagecarte {
  background-image: asset-url('Nantes.png');
  background-size: cover;
  background-position: center;
  height: 300px;
}

.containercarte .carte-exploitation {
  border: 2px double transparent;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.containerrecettes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  text-align: center;
  color: black;

}
.imagerecettes {
  background-image: asset-url('soupes.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 5px;
}
.list {
  list-style: none;
}

.mycontainer {
  width: 100%;
  max-width: 1400px;
}

.carousel-item {
  position: relative;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 400px;
  }

  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
  }
}
