// Specific CSS for your home-page
.bannerpanierdefruits {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: asset-url('panierdelegumes.jpg');
  background-size: cover;
  background-position: center;
  width: 1470px;
  height: 450px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    text-align: center;
    color: white;
}

.containercarte  {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 20px;
    text-align: center;
    color: black;
}

.imagecarte {
  background-image: asset-url('Nantes.png');
  background-size: cover;
  background-position: center;
  height: 300px;
}

.containercarte .carte-exploitation {
  border: 2px double transparent;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.containerrecettes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  text-align: center;
  color: black;

}
.imagerecettes {
  background-image: asset-url('soupes.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 5px;
}
.list {
  list-style: none;
}

.mycontainer {
  width: 100%;
  max-width: 1400px;
}
