<div class=container >
  <h1>Hello</h1>
  <div class="row">
    <% @produits.each do |produit| %>
      <div class="col-md-6">
        <div class="card my-1">
          <div class="card-product">
            <div><img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /></div>
            <div class="card-product-infos">
              <div><h2><%= produit.name %></h2></div>
              <div><p class="card-product-infos">Prix <%= produit.price %>€ | Quantité <%= produit.quantity %></p></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<h3>Je choisis un créneau de retrait pour la commade</h3>


</div>
