<div class="container">
  <h1>Liste de toutes les commandes</h1>
  <% if @commandes.any? %>
    <% @commandes.each do |commande| %>
      <div class="new_card">
        <img src="https://cdn.pixabay.com/photo/2015/05/04/10/16/vegetables-752153_1280.jpg" />
        <div class="card-product-infos">
          <h3></i> Commande #<%= rand(1000..9999) %></h3>
          <h2>Prix Total <%= commande.total_price %> <i class="fa-solid fa-euro-sign"></i></h2>
        <h4>Récapitulatif des articles :</h4>
        <ul>
          <% commande.produits.each do |produit| %>
            <li><%= produit.name %>  <%= produit.price %> <i class="fa-solid fa-euro-sign"></i></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>Aucune commande pour l'instant</p>
  <% end %>
</div>
