<div class="bannerpanierdefruits" style="background-image: url('app/assets/images/)">
  <div class="row">

  <div class="col-6">
  <h1>Je fais mon marché</h1>
    <h2>Je souhaite commander mes fruits et légumes et aller les récupérer directement chez le producteur que j’ai choisi.</h2>
  </div>

  <div class="col-6">
    <h1>Je propose mes produits </h1>
    <h2>Je souhaite vendre mes fruits et légumes  et  mettre les commandes à disposition directement à la ferme</h2>
  </div>

  </div>
</div>

<div class="containercarte">
  <h1>Où trouver nos producteurs</h1>
  <%= link_to "Voir tous nos producteurs", exploitations_path, class:"button" %>
</div>

<div class="containerrecettes">
  <h1>Idée recette de la semaine</h1>
  <h2>Ingrédients 2 Carotte(s) 2 Pomme(s) de terre 2 Poireau(x) 3 Navet(s) 4 Feuille(s) de chou</h2>
  <%= link_to "Voir la recette", exploitations_path, class:"button" %>
</div>
