.new_card {
  overflow: hidden;
  height: 200px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  justify-content: space-around;
}

.new_card img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.new_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.new_card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.new_card .new-card-infos {
  padding: 16px;
}
